* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav .nav__logo {
  padding-top: 8px;
}
.nav .nav__menu ul {
  display: flex;
  justify-content: space-between;
  gap: 25px;
}
.nav .nav__menu ul li a {
  color: var(--unnamed, #333);
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
}
.nav .nav__btn button {
  text-align: center;
  width: 205px;
  height: 54px;
  color: white;
  flex-shrink: 0;
  border-radius: 9px;
  border: 1px solid white;
  cursor: pointer;
  background: var(--unnamed, linear-gradient(122deg, #FFBC2A 33.46%, #FF4F39 82.64%));
}

#main {
  background: #f7f6ff;
}

.contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 90px;
}
.contact .contact__text h1 {
  color: var(--unnamed, #333);
  font-size: 45px;
  font-style: normal;
  font-weight: 800;
  line-height: 65px; /* 144.444% */
}
.contact .contact__text h2 {
  color: var(--unnamed, #333);
  font-size: 55px;
  font-style: normal;
  font-weight: 500;
  line-height: 65px;
  text-transform: uppercase;
}
.contact .contact__text p {
  padding: 1px 0 24px;
  color: var(--unnamed, #333);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 150% */
}
.contact .contact__text .contact__btn1 {
  width: 241px;
  height: 54px;
  color: white;
  flex-shrink: 0;
  border: 1px solid #FFBC2A;
  border-radius: 250px;
  background: var(--unnamed, linear-gradient(122deg, #FFBC2A 33.46%, #FF4F39 82.64%));
  cursor: pointer;
}
.contact .contact__text .contact__btn2 {
  width: 114px;
  height: 54px;
  color: white;
  flex-shrink: 0;
  border-radius: 250px;
  border: 1px solid #FFBC2A;
  background: var(--unnamed, linear-gradient(122deg, #FFBC2A 33.46%, #FF4F39 82.64%));
  cursor: pointer;
}
.contact .contact__text .contact__btn3 {
  width: 141px;
  height: 54px;
  color: white;
  flex-shrink: 0;
  border-radius: 250px;
  border: 1px solid #FFBC2A;
  background: var(--unnamed, linear-gradient(122deg, #FFBC2A 33.46%, #FF4F39 82.64%));
  cursor: pointer;
}

.father__card {
  display: flex;
  justify-content: space-between;
}
.father__card .card {
  width: 1170px;
  height: 254px;
  border-radius: 20px;
  background: var(--unnamed, #fff);
  box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.08);
}
.father__card .card h1 {
  color: #333;
  padding: 40px 55px;
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  text-transform: uppercase;
}
.father__card .card h3 {
  font-size: 42px;
  padding: 0 60px;
  font-style: normal;
  font-weight: 800;
  line-height: 48px;
  background: var(--unnamed, linear-gradient(122deg, #FFBC2A 33.46%, #FF4F39 82.64%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.father__card .card .card__h3 {
  display: flex;
  justify-content: space-between;
}
.father__card .card .card__p {
  display: flex;
  justify-content: space-between;
  padding: 0 20px 0 60px;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.servise h1 {
  color: var(--unnamed, #333);
  padding: 70px 0 40px 0;
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px; /* 126.316% */
  text-transform: uppercase;
}
.servise .servise__father {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.servise .servise__father .servise__card {
  width: 220px;
  height: 378px;
  flex-shrink: 0;
  border-radius: 15px;
  background: var(--unnamed, #fff);
  box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.08);
}
.servise .servise__father .servise__card h2 {
  font-size: 20px;
  padding: 11px 0;
  text-align: center;
  height: 74px;
  border-radius: 15px 15px 0px 0px;
  color: white;
  background: #77b2d3;
}
.servise .servise__father .servise__card .card__info {
  display: flex;
  padding: 7px 16px;
  gap: 6px;
}
.servise .servise__father .servise__card .card__info .tick {
  padding-top: 18px;
}
.servise .servise__father .servise__card .card__p {
  width: 210px;
  height: 1px;
  background: #e2e2e2;
}
.servise .servise__father .servise__card h4 {
  color: white;
  padding-bottom: 45px;
}
.servise .servise__father .servise__card .card__rub {
  display: flex;
  align-items: center;
}
.servise .servise__father .servise__card .card__rub h3 {
  padding: 15px 5px 15px 16px;
  color: #333;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.servise .servise__father .servise__card .card__rub h5 {
  padding: 15px 0 15px 0;
  font-size: 30px;
  text-align: center;
  font-style: normal;
  font-weight: 800;
  line-height: 24px;
  background: var(--unnamed, linear-gradient(122deg, #FFBC2A 33.46%, #FF4F39 82.64%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.servise .servise__father .servise__card .servise__btn {
  padding: 21px 13px;
  cursor: pointer;
}
.servise .servise__father .servise__card .servise__btn button {
  margin: 0 auto;
  width: 195px;
  height: 54px;
  flex-shrink: 0;
  cursor: pointer;
  color: white;
  border: 1px solid #FFBC2A;
  border-radius: 9px;
  background: var(--unnamed, linear-gradient(122deg, #FFBC2A 33.46%, #FF4F39 82.64%));
}

.consult {
  display: flex;
  justify-content: space-between;
}
.consult .consult__h h1 {
  padding-top: 154px;
  color: var(--unnamed, #333);
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  text-transform: uppercase;
}
.consult .consult__h p {
  color: var(--unnamed, #333);
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}
.consult .consult__h .inp__father {
  padding: 22px 0;
  gap: 20px;
}
.consult .consult__h .inp__father .inp1 {
  width: 270px;
  height: 59px;
  flex-shrink: 0;
  border: 1px solid white;
  border-radius: 7px;
  background: var(--unnamed, #fff);
  box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.08);
}
.consult .consult__h .inp__father .inp2 {
  width: 270px;
  height: 59px;
  flex-shrink: 0;
  border: 1px solid white;
  border-radius: 7px;
  background: var(--unnamed, #fff);
  box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.08);
}
.consult .consult__h .inp__father .inp3 {
  padding: 16px 360px 98px 19px;
  flex-shrink: 0;
  border: 1px solid white;
  border-radius: 7px;
  background: var(--unnamed, #fff);
  box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.08);
}
.consult .consult__h .inp__father p {
  color: #f7f6ff;
}
.consult .consult__h .inp__father .consult__btn {
  padding: 15px 0;
}
.consult .consult__h .inp__father .consult__btn button {
  width: 195px;
  height: 54px;
  color: white;
  flex-shrink: 0;
  border: 1px solid #FFBC2A;
  border-radius: 9px;
  cursor: pointer;
  background: var(--unnamed, linear-gradient(122deg, #FFBC2A 33.46%, #FF4F39 82.64%));
}
.consult .consult__logo {
  padding-top: 154px;
}

.job .job__h {
  display: flex;
  justify-content: space-between;
  padding: 112px 0 41px 0;
}
.job .job__h h1 {
  color: var(--unnamed, #333);
  font-family: Manrope;
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px; /* 126.316% */
  text-transform: uppercase;
}
.job .job__h p {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
}
.job .jc__father {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  padding-bottom: 90px;
}
.job .jc__father .job__card {
  width: 570px;
  height: 618px;
  flex-shrink: 0;
  border-radius: 15px;
  background: var(--unnamed, #fff);
  box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.08);
}
.job .jc__father .job__card img {
  padding: 9px 23px 0px 0;
}
.job .jc__father .job__card .img2 {
  padding-top: 61px;
}
.job .jc__father .job__card p {
  padding: 0 30px;
  color: var(--unnamed, #333);
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}
.job .jc__father .job__card h1 {
  padding-top: 45px;
  padding-bottom: 10px;
  padding-left: 30px;
  color: var(--unnamed, #333);
  background: #f3f1fe;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 26px; /* 144.444% */
  text-transform: uppercase;
}
.job .jc__father .job__card .job__h3 {
  display: flex;
  justify-content: space-between;
  padding-top: 4px;
  padding-bottom: 14px;
  padding-left: 30px;
  color: #191717;
  background: #f3f1fe;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}
.job .jc__father .job__card h2 {
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 5px;
}
.job .jc__father .job__card img {
  gap: 5px;
}

.footer {
  display: flex;
  justify-content: space-between;
}
.footer .footer__logo {
  padding-top: 50px;
}
.footer .footer__a {
  padding: 20px 0 5px 0;
  color: #333;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-decoration-line: underline;
}
.footer .footer__btn {
  padding-bottom: 75px;
}
.footer .footer__btn button {
  width: 195px;
  height: 54px;
  color: white;
  cursor: pointer;
  flex-shrink: 0;
  border: 1px solid #FFBC2A;
  border-radius: 9px;
  background: var(--unnamed, linear-gradient(122deg, #FFBC2A 33.46%, #FF4F39 82.64%));
}
.footer .information {
  padding-top: 60px;
}
.footer .information .info__h {
  color: var(--unnamed, #333);
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
  text-transform: uppercase;
}
.footer .information .info__menu ul {
  color: var(--unnamed, #333);
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
}
